@model WebApplication3.Models.calc
@{
    ViewBag.Title = "Index";
}

<html>


<body>
    <h2>Basit Hesap Makinesi</h2>
    <div class="row">

        @using (Html.BeginForm("/Index","Calc", FormMethod.Post))
        {
            <div class="form-group">
                <label for="no">No 1</label>
                <input type="text" class="form-control" id="no1" name="no1" value="@Model.no1" />
            </div>
            <div class="form-group">
                <label for="no">No 2</label>
                <input type="text" class="form-control" id="no2" name="no2" value="@Model.no2" />
            </div>
            <div class="form-group">
                <label for="total">Total</label>
                <input type="text" class="form-control" id="tot" name="tot" value="@Model.tot" />
            </div>
            <button type="submit" class="btn btn-info" id="add" value="add" name="calculate">+</button>
            <button type="submit" class="btn btn-danger" value="min" id="min" name="calculate">-</button>
            <button type="submit" class="btn btn-warning" value="sub" id="sub" name="calculate">*</button>
            <button type="submit" class="btn btn-default" value="div" id="div" name="calculate">/</button>
        }
    </div>
</body>
</html>

